@import 'src/styles/videojs-mse-over-clsp.scss';

* {
  box-sizing: border-box !important;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border: 1px solid black;
  background-color: black;
}

.tour,
.headless {
  display: none !important;
}

.vjs-poster {
  background-origin: content-box;
  padding: 2rem;
}

.page-header {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background: black;
  color: white;

  & > * {
    margin: 0;
  }

  img {
    height: 3rem;
  }
}

.page-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;

  section {
    border: solid 3px black;
    padding: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 0;

    & > * {
      flex-shrink: 0;
      width: 100%;
    }

    .monitor {
      color: white;
      display: flex;

      .summary {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: column;

        & > * {
          padding: 0.5rem;
          margin: auto;
        }
      }
    }

    .controls {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      padding: 1rem;
      background-color: lightgray;

      .stream-configs {
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: space-between;

        .stream-config {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          flex-shrink: 0;
          width: 50%;

          .title {
            display: flex;
            justify-content: space-between;

            input {
              width: 25%;
            }
          }

          .stream-options {
            justify-content: start;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }
        }
      }

      .options-actions-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        & > * {
          margin: 1rem;
        }

        button {
          padding: 1rem;
        }
      }
    }

    #videowall,
    #tourwall {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      flex-grow: 1;
      flex-shrink: 0;
    }

    .player-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.25rem;
      border: 2px solid grey;
      overflow: hidden;

      .video-stream {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        background-color: black;
        color: white;

        .url {
          padding: 0 0.5rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .close {
          background-color: red;
          border-color: red;
          font-size: 1rem;
          font-weight: bold;
          color: white;
          border-radius: 50%;
        }
      }

      .video-container {
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;

        .clsp-video-container {
          height: 100%;
          width: 100%;
          // min-height: 150px;
          // min-width: 200px;

          video {
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }
      }

      .video-metrics {
        display: flex;
        flex-direction: column;
        background-color: white;

        .metric {
          display: flex;

          &:nth-of-type(2n) {
            background: lightgrey;
          }

          .value {
            width: 10rem;
            overflow: hidden;
            flex-grow: 0;
            flex-shrink: 0;
            padding: 0 3px;
            font-weight: bold;
          }

          .type {
            flex-grow: 1;
            flex-shrink: 0;
            text-align: left;
            overflow: hidden;
          }
        }
      }
    }
  }
}
