* {
  box-sizing: border-box !important;
}

html,
body,
.container-fit {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}

html {
  background-color: black;
}

body {
  padding: 0.5em;
}

.header {
  display: flex;
  color: white;
  justify-content: space-around;
  padding: 0.5em;
  font-size: 1.5em;
  flex-grow: 0;
  flex-shrink: 0;
}

.header > * {
  margin: auto;
  padding: 0 0.5em;
  text-align: center;
}

#page-title {
  font-size: 1.5em;
}

.video-container {
  padding: 0.5em;
  border: solid 2px white;
  border-radius: 1em;
  margin: auto;
}

#demo-error {
  display: none;
  color: white;
  margin: auto;
}

.controls {
  display: flex;
  width: 50%;
  margin: 1em auto;
  justify-content: space-around;
}

.controls button {
  padding: 1em 2em;
  font-size: 1.5em;
  border-radius: 1em;
}

h1 {
  color: white;
  margin: 0 auto;
}

h2 {
  color: white;
  margin: 0 auto;
}

h3 {
  color: white;
  margin: 0 auto;
}

#tourSummary {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  color: white;
}

#tourSummary > * {
  padding: 0;
  margin: 0 auto;
}

#tourSummary {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
}

.tour-container {
  flex-direction: row;
}

.tour-container > * {
  width: 50%;
}

.stream-container {
  display: flex;
  flex-direction: column;
}

.stream-container textarea {
  flex-grow: 1;
  flex-shrink: 0;
}

.stream-container button {
  padding: 0.5em;
}

.video-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}
