// A utility class for filling the parent element.
.clsp-container-fit {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  // if you see scroll bars, you probably styled something incorrectly
  overflow: auto;
}

// This class is automatically added to the element that contains the clsp
// video element.  It is meant to take up the entirety of its parent.
.clsp-player-container {
  @extend .clsp-container-fit;
  position: relative;
  background-color: black;

  // All other video elements are beneath the first, in arbitrary order.
  // NOTE - DO NOT add any styles to the actual video element - additional
  // styles applied to the video tag have the potential to cause significant
  // performance issues
  .clsp-player {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  // When dealing with tours, we must ensure that the first video element is on
  // top.
  video:first-of-type {
    z-index: 2 !important;
  }

  .clsp-player-loading-animation {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
  }

  .clsp-player-error-msg {
    color: white; 
    margin: auto;
  }
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

